@import "@angular/material/prebuilt-themes/indigo-pink.css";

.page-layout {
    width: 100%;

    .header {
        width: 100%;
    }

    .content {
        width: 100%;

    }


    .footer {
        width: 100%;

    }




}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix  {
    padding: 1em .75em 1em .75em;
}

